<nav class="main-nav">
  <ul>
    <li>
      <a class="nav-link" href="/main">Agenda</a>
    </li>
    <li>
      <div class="dropdown">
        <a class="dropbtn">Agregar</a>
        <div class="dropdown-content">
          <a href="/evento">Evento</a>
          <a href="/tarea">Tarea</a>
          <a href="/nota">Nota</a>
          <a href="/recordatorio">Recordatorio</a>
        </div>
      </div>
    </li>
    <li>
      <a class="nav-link" href="/reloj">Concentrarse</a>
    </li>
  </ul>
</nav>
