<%- include('includes/header.ejs')%>
    <link rel="stylesheet" href="/styles/agenda-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="container sidebar">
          <nav class="main-nav">
              <ul>
              <li>
                  <a class="nav-a" href="/welcome.html">Agendapp</a>
                  <a class="nav-a" href="/welcome.html">Agendapp</a>
                  <a class="nav-a" href="/welcome.html">Agendapp</a>
              </li>
              </ul>
          </nav>
      </div>
      <main class="main-content">
        <div>
          <h2>Hola</h2>
        </div>
      </main>
    </div>
  </body>
</html>