@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  height: 100%;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

ul {
  margin-top: 15px;
  list-style-type: none;
}

.left-position {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 200px;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: #e4e4e4;
}

.title {
  display: flex;
  justify-content: space-between;
}

.nav-a {
  text-decoration: none;
  color: #0769b0;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 1.5em;
}

.nav-link,
.dropbtn {
  display: inline-block;
  margin-bottom: 20px;
  background-color: #0769b0;
  color: white;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  width: 8em;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #076ab070;
}

.nav_ling:hover {
  background-color: #076ab070;
}

input[type="text"],
input[type="datetime-local"] {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1em;
  max-width: 100%;
}

.guardar {
  margin: 15px 0;
  padding: 10px;
  width: 30%;
  font-size: 1em;
  color: #fff;
  background-color: #0769b0;
  border: 1px solid #0769b0;
  border-radius: 30px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}
