<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="sidebar">
        <%- include('../includes/navigation.ejs')%>
      </div>
      <main class="main-content">
        <div class="title">
          <h2>Bienvenido</h2>
          <div><a class="nav-a" href="/">Agendapp</a></div>
        </div>
          <form class="form" action="/evento" method="POST">
            <label for="titulo">Nombre: </label>
            <input type="text" id="titulo" name="titulo">
            <label for="contenido">Contenido: </label>
            <input type="text" id="contenido" name="contenido">
            <label for="horafecha">Horario: </label>
            <input type="datetime-local" id="horafecha" name="horafecha">
            <label for="asistentes">Asistentes: </label>
            <input type="text" id="asistentes" name="asistentes">
            <label for="lugar">Lugar: </label>
            <input type="text" id="lugar" name="lugar">
            <form action="/evento">
                <input class="guardar" type="submit" value="Guardar">
            </form>
        </form>
      </main>
    </div>
  </body>
</html>