<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="container sidebar">
          <nav class="main-nav">
              <ul>
              <li>
                  <a class="nav-link" href="/welcome.html">Nuevo</a>
                  <a class="nav-link" href="/welcome.html">Nota</a>
                  <a class="nav-link" href="/welcome.html">Recordatorio</a>
              </li>
              </ul>
          </nav>
      </div>
      <main class="main-content">
        <div class="title">
          <h2>Bienvenido</h2>
          <div><a class="nav-a" href="/">Agendapp</a></div>
        </div>
      </main>
    </div>
  </body>
</html>