<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
    <link rel="stylesheet" href="/css/nota-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="sidebar">
          <nav class="main-nav">
              <ul>
                <li>
                  <div class="dropdown">
                    <a class="dropbtn">Agregar</a>
                      <div class="dropdown-content">
                        <a href="#">Evento</a>
                        <a href="#">Tarea</a>
                        <a href="#">Concentrarse</a>
                      </div>
                  </div>
                </li>
                <li>
                  <a class="nav-link" href="/nota">Nota</a>
                </li>
                <li>
                  <a class="nav-link" href="/welcome">Recordatorio</a>
                </li>
              </ul>
          </nav>
      </div>
      <main class="main-content">
        <div class="title">
            <h2>Bienvenido</h2>
            <div><a class="nav-a" href="/">Agendapp</a></div>
        </div>
        <h2>Mis Recordatorios</h2>
        <% if(recordatorios.length > 0) { %>
        <div class="grid">
            <% for(let recordatorio of recordatorios) { %>
                <article>
                <header>
                <h3>
                <%= recordatorio.titulo %>
                </h3>
                </header>
                <div>
                <p><%= recordatorio.descripcion %></p>
                </div> 
                </article>
                <% } %>
        </div>
        <% } else { %>
            <h3>No tienes pendientes para hoy</h3>
            <% } %>
      </main>
    </div>
  </body>
</html>