<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="sidebar">
        <%- include('../includes/navigation.ejs')%>
      </div>
      <main class="main-content">
        <div class="title">
          <h2>Bienvenido</h2>
          <div><a class="nav-a" href="/">Agendapp</a>
        </div>
        </div>
        <form class="form" action="/tarea" method="POST">
          <label for="titulo">Nombre: </label>
          <input type="text" id="titulo" name="titulo">
          <label for="horafecha">Horario: </label>
          <input type="datetime-local" id="horafecha" name="horafecha">
          <form action="/tarea">
              <input class="guardar" type="submit" value="Guardar">
          </form>
      </form>
      </main>
    </div>
  </body>
</html>