<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
  </head>
  <body>
    <div class="left-position">
      <div class="sidebar">
        <%- include('../includes/navigation.ejs')%>
      </div>
      <main class="main-content">
        <div class="title">
          <h2>Bienvenido</h2>
          <div><a class="nav-a" href="/">Agendapp</a>
        </div>
            <div class = "event">
                <div class = "event-title">
                    <h3><%= titulo %></h3>
                </div>
                <div class = "event-description">
                    <p><%= descripcion %></p>
                </div>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>