<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div><a class="nav-a" href="/">Agendapp</a></div>
    </nav>
    <main class="welcome">
        <div class="sign-in">
            <h2>Sign Up</h2>
            <form action="">
                <label for="username">Email</label>
                <input type="email" id="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <label for="password-confirm">Confirm your password</label>
                <input type="password" id="password-confirm" name="password-confirm">
                <input type="submit" value="Sign Up">
            </form>
            <p>¿Ya tienes cuenta? <a href="login">Inicia Sesion</a></p>
        </div>
    </main>
</body>
</html>